
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      {% load static %}
      <img class="img-fluid pe-6" src="{% static 'images/breast-cancer-activist.jpeg' %}" alt="Image Description">
    </div>
    <div class="col-lg-6 col-sm-12 align-self-center">
      <h1>Breast Cancer Prediction</h1>
      <p>Our mission is to harness the power of technology to predict breast cancer at the earliest stages. With our innovative web app, we aim to provide a user-friendly platform that offers accurate predictions based on the latest scientific research.</p>
      <p>Join us in the fight against breast cancer. Together, we can make early detection the norm, not the exception.</p>
      <button class="btn btn-secondary w-50">Start Now</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  
    <div class="col-lg-6 col-sm-12 align-self-center">
      <h1>Why Now?</h1>
  <p>Every minute counts when it comes to diagnosing breast cancer. The earlier the diagnosis, the better the prognosis and the higher the survival rates. With advancements in technology, we now have the tools to detect breast cancer at its earliest stages, even before symptoms appear.</p>
  <p>Our web app leverages these technological advancements to provide accurate predictions, empowering individuals to take charge of their health. Now is the time to prioritize early detection and change the narrative of breast cancer. Join us in making early diagnosis the new normal.</p>
      <button class="btn btn-secondary w-50">Start Now</button>
    </div>
    <div class="col-lg-6 col-sm-12">
      {% load static %}
      <img class="img-fluid pe-6" src="{% static 'images/cancer_survivor.jpeg' %}" alt="Image Description">
    </div>
  </div>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://predican.com/">Predican</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
<body>
  
</body>
</html>