
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      {% load static %}
      <img class="img-fluid pe-6" src="{% static 'images/breast-cancer-activist.jpeg' %}" alt="Image Description">
    </div>
    <div class="col-lg-6 col-sm-12 align-self-center">
      <h1>Breast Cancer Prediction</h1>
      <p>Our mission is to harness the power of technology to predict breast cancer at the earliest stages. With our innovative web app, we aim to provide a user-friendly platform that offers accurate predictions based on the latest scientific research.</p>
      <p>Join us in the fight against breast cancer. Together, we can make early detection the norm, not the exception.</p>
      <button class="btn btn-secondary w-50">Start Now</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Why Breast Cancer</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>
{% endblock %}
<body>
  
</body>
</html>